body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top,#9a5a5a, #f25b5b, #fdc1c1 50%);
}

main {
    padding: 12px;

}

a {
    text-decoration: none;
    color: rgb(59, 129, 59);
    font-size: larger;
}

a:hover {
    color: blue;
    box-shadow: 10px 0px 10px 10px purple;
}

img {
    height: 200px;
}

nav {
    border-bottom: 2px solid black;
    background: linear-gradient(rgb(241, 193, 193), rgb(255, 209, 123));
    padding: 15px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

td {
 text-align: left;
}

td + .right {
    padding-left: 14px;
}
footer {
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
    width: 1830px;
    margin-left: 25px;
    margin-bottom: 10px;
    background-color: rgb(94, 148, 94);

}

#steps1 {
    margin-right: 200px;

}




#steps {
    margin-left: 23px;
    line-height: 8px;
    text-decoration: underline;
}

tr {
    margin-left: 45px;
}

 img + div {
    font-weight: bolder;

}



nav > a {
    padding-right: 10px;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
}

#rating {
    line-height: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 3px;

}

.food-item {
    display: inline-block;
    margin: 50px;
    justify-content: left;
    margin-right: 30px;

}

div > .taco {
    line-height: 50px;
    margin-bottom: -15px;


}

#main-page {
    background: rgb(255, 239, 239);
    color: rgb(15, 5, 5);
    border: none;
    text-align: center;
    padding-bottom: 2px;
}

a + img {
    text-align: left;
    margin-right: 80px;
}

   table  {
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;

}

ol {
    border: 1px solid black;
    margin-right: 1570px;
    line-height: 20px;
    justify-items: auto;
    margin-bottom: 20px;

}

#step-list {
    line-height: 15px;
}

tbody > tr:nth-child(even) {
    background: rgb(137, 136, 136);

}
